@import "tailwindcss";

body{
  background-color: #1a1a1a;
  color: white
}

::-webkit-scrollbar{
  width: 0;
}

@layer utilities {
  @media (max-height: 750px) {
    .mt-short-screen {
      margin-top: 6rem; /* equivalent to mt-24 */
    }
  }
}